*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family:cursive;
}
h1{
    text-align:left;
    padding: 10px;
    margin: 0px;
    box-sizing: border-box;
}
.titulo_pag {
    background-color: black;
    color: white;
    text-align: center;
    position: relative;
}
.titulo_pag img{
    height: 350px;
    width: 600px;
    position: absolute;
    right: 10%;
    top: -45px;
}
nav > a {
    color: black;
    text-decoration: none;
    background-color:gold;
    padding: 7px;
    display: inline-block;
    font-weight: bold;
    margin-left: 30
    0px;
}
nav > a.active{
    background-color:darkorange;
}
article > h3 {
    font-style: italic;
}
section{
    position: relative;
}
article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hockey1{
    height: 300px;
    width: 400px;
    margin-left: 400px;
}
.logo{
    margin-left: 20px;
    margin-top: 20px;
    height: 100px;
    width: 100px;
}